div.splash-container div.splash { width: 100%; height: 100%; }
.footer.l-box.is-center { color: #eee; }
.layout-menu-about li a { color: #eee; font-size: 1.2em; }
.layout-menu-about li a:hover { color: #a3deef; text-decoration: none; }
.email-main { cursor: pointer; color: #004a8f; font-size: 3em; text-transform: uppercase; }
.slogan { font-size: 2em; color: #a3deef; font-weight: bold; }
.splash-head { border: none; line-height: 1.2em; padding-bottom: 0; }
.f-awesome-main { font-size: 150%; }
.parent-select-text { font-size: 1.1em; margin-bottom: 0; }
.select-text { font-weight: bold; font-size: 1.2em; }
